<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bloggy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-link" href="{{ path('app_posts') }}" aria-current="page" href="#">Posts</a>
                <a class="nav-link" href="{{ path('app_post_create') }}">New</a>

                {% if app.user %}

                <a class="nav-link" href="#">{{ app.user.email }}</a>
                    <a class="nav-link" href="{{ path('app_logout') }}" >Logout</a>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('app_admin') }}" class="nav-link">Admin</a>
                    {% endif %}

                {% else %}

                <a class="nav-link" href="{{ path('app_login') }}">Login</a>

                {% endif %}


            </div>
        </div>
    </div>
</nav>